<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>EDIT</h1>
        <!-- <% for(var i=0;i<detail.length;i++){%>
            <h1><%= detail[i].name %></h1>

        <%}%>
        <h1><%= detail[0].name %></h1> -->

        <h2><%= title %></h2>
    <form action="/update" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name" value="<%= detail[0].name %>"  name="name" required>
         </div>
         <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" value="<%= detail[0].email %>" name="email" required>
         </div>
         <div class="form-group">
            <label for="phone">Phone no</label>
            <input type="text" class="form-control" id="pwd" placeholder="Enter phone no" value="<%= detail[0].phone %>" name="phone"required>
         </div>
         <button type="submit" class="btn btm-sm btn-primary">Submit</button>

    </form>
    </div>
</body>
</html>